<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">

  <div class="col-md-8">
    <%= render @questions %>
  </div>

  <% else%>
    <p>
      <%=render "questions/search" %>
      <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    </p>
  </div>
<% end %>

