<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <%= render @questions %>
    </div>
  </div>
  <% else%>
  <div class="row">
    <div class="col col-md-5 col-md-offset-3">
      <%=render "questions/search" %>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col col-md-5 col-md-offset-3">
      <%= link_to "Sign up now!", '#', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

