<footer class="footer">
  <ul>
    <li><a href="http://https://www.facebook.com/mayankagrawal2011?ref=bookmarks">Facebook</a></li>
  </ul>
  <nav>
    <ul>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>